.container {
  color: red;
}

.p3, .p2, .p1, .p0 {
  width: 0px;
  height: 0px;
  display: inline-block;
}

.p0 {
  border-width: 30px;
  border-top-width: 0;
  border-color: transparent transparent black transparent;
  border-style: dashed dashed solid dashed;
}

.p1 {
  border-width: 20px red;
  border-rigth-width: 0;
}

.p2 {
  border-width: 20px red;
  border-bottom-width: 0;
  border-color: black transparent transparent transparent;
  border-style: dashed dashed solid dashed;
}

.p3 {
  border-width: 20px red;
  border-left-width: 0;
  border-color: transparent black transparent transparent;
  border-style: dashed dashed solid dashed;
}