:root {
  --color: #f00;
}

body {
  --boder-color: #f2f2f2;
}
.header {
  --background-color: #f8f8f8;
}
p {
  color: var(--color);
  border-color: var(--boder-color)
}

.header {
  background-color: var(--background-color);
}