$column: 12;
@while $column > 0 {
  .col-sm-#{$column} {
    // width: $column / 12 * 100%;
    // width: $column / 12 * 100#{'%'};
    width: unquote($string: $column / 12 * 100 + '%');
  }
  $column: $column - 1;
}