// 修改组件库内部的样式
// 需要自定义一个类名空间
.rm-select-icon-dialog-body-height {
  .el-dialog__body {
    height: 500px;
    overflow-y: scroll;
  }
}

.rm-el-select-margin-right10 {
  .el-select {
    margin-right: 10px;
  }
}

.rm-el-popper-padding-bottom0 {
  padding: 0!important;
}

.rm-list-tabs__item {
  .el-tabs__nav {
    width: 100%;
    display: flex;
  }

  .el-tabs__item {
    flex: 1;
    text-align: center;
  }
}